@page
@model AgileDiary.Pages.Sprints.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sprint[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprint[0].Reward)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sprint) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SprintId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SprintId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SprintId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
