@page
@model AgileDiary.Models.PageModels.Sprints.IndexSprintPageModel
@{
    ViewData["Title"] = "Sprints";
}

<h2>Sprints</h2>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sprints[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprints[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sprints[0].Reward)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sprint in Model.Sprints)
        {
            var d = new Dictionary<string, string>
            {
                { "sprintId", sprint.Id.ToString() }
            };
        <tr>
            <td>
                @sprint.StartDate.ToShortDateString()
            </td>
            <td>
                @sprint.EndDate.ToShortDateString()
            </td>
            <td>
                @sprint.Reward
            </td>
            <td>
                <a asp-page="Edit" asp-route-id="@sprint.Id" asp-all-route-data="d">Edit</a> |
                <a asp-page="Details" asp-route-id="@sprint.Id">Details</a> |
                <a asp-page="Delete" asp-route-id="@sprint.Id" asp-all-route-data="d">Delete</a>
            </td>
        </tr>
        }
</table>