@model AltAgileDiary.Models.AgileDiary.Sprint

@{
    ViewData["Title"] = "Edit";
}

<h2>Sprint progress</h2>

<h3>@Model.Start.ToShortDateString() - @Model.End.ToShortDateString()</h3>
<hr />
<div class="container">
    <div class="row">
        <form asp-action="Edit">
            <div class="col-md-3">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Conclusion" class="control-label"></label>
                    @Html.TextAreaFor(m => m.Conclusion, 3, 0, new { @class = "form-control" })
                    <span asp-validation-for="Conclusion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Thanks" class="control-label"></label>
                    @Html.TextAreaFor(m => m.Thanks, 3, 0, new { @class = "form-control" })
                    <span asp-validation-for="Thanks" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Improvements" class="control-label"></label>
                    @Html.TextAreaFor(m => m.Improvements, 3, 0, new { @class = "form-control" })
                    <span asp-validation-for="Improvements" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Reward" class="control-label"></label>
                    @Html.TextAreaFor(m => m.Reward, 3, 0, new { @class = "form-control" })
                    <span asp-validation-for="Reward" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="Start" class="control-label"></label>
                    <input asp-for="Start" class="form-control" />
                    <span asp-validation-for="Start" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="End" class="control-label"></label>
                    <input asp-for="End" class="form-control" readonly />
                    <span asp-validation-for="End" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>

            </div>
            <div class="form-group col-md-3">
                <label asp-for="Goals" class="control-label"></label>
                @if (Model != null)
                {
                    if (Model.Goals != null && Model.Goals.Any())
                    {
                        <ul>
                            @foreach (var goal in Model.Goals)
                            {
                                <li><a asp-controller="Goals" asp-action="Edit" asp-route-id="@goal.Id">@Html.DisplayFor(goalItem => goal.Description)</a></li>
                            }
                        </ul>
                    }
                    <div>
                        <a asp-controller="Goals" asp-action="Create" asp-route-id="@Model.Id">Add new goal</a>
                    </div>
                }
            </div>
            @*col-md-offset-1*@
            <div class="form-group col-md-3 ">
                <label asp-for="Habits" class="control-label"></label>
                @if (Model != null)
                {
                    if (Model.Habits != null && Model.Habits.Any())
                    {
                        <ul>
                            @foreach (var habit in Model.Habits)
                            {
                                <li><a asp-controller="Habits" asp-action="Edit" asp-route-id="@habit.Id">@Html.DisplayFor(goalItem => habit.Title)</a></li>
                            }
                        </ul>
                    }
                    <div>
                        <a asp-controller="Habits" asp-action="Create" asp-route-id="@Model.Id">Add new habit</a>
                    </div>
                }
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Weeks" class="control-label"></label>

                @if (Model?.Weeks != null && Model.Weeks.Any())
                {
                    var weekNumber = 1;
                    var orderedWeeks = Model.Weeks.OrderBy(w => w.Start.Date);
                    <ul>
                        @foreach (var week in Model.Weeks)
                        {
                            var weekName = $"{week.Start.ToShortDateString()} - {week.End.ToShortDateString()}";
                            var weekLink = $"Week {weekNumber}. ";
                            <li><a asp-controller="Weeks" asp-action="Edit" asp-route-id="@week.Id">@Html.DisplayFor(weekItem => weekLink)</a>@weekName</li>
                            weekNumber++;
                        }
                    </ul>
                }
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
